<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Post History</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <style>
   .layer1 {
    margin-left: 20;
    padding: 10px; /*
   }
  </style>
</head>
<header th:insert="blocks/header :: header"></header>
<body>
    <div class="layer1">
        <p class="tab">
        <th:block th:if="${history}">
            <th:block th:each="str, stat : ${history.split('\r\n|\r|\n', -1)}">
                <th:block th:text="${str}"/>
                <br th:if="${!stat.last}"/>
            </th:block>
        </th:block>
        </p>
    </div>
</body>
</html>